<div class="col-4 m-auto">
  <form action="/users/login" method="POST" class="form-signin mt-4">
    <div class="text-center my-3">
      <img
        src="https://www.flaticon.com/svg/vstatic/svg/2643/2643265.svg?token=exp=1613364415~hmac=3827fe2c4b1a9ca2ba57fefa824af1d2"
        alt="expense img" style="width:200px;">
    </div>
    <h1 class="text-center my-3">記帳小幫手</h1>
    <div Class="my-3">
      {{> message}}
      <label for="email" class="form-label">信箱</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="請輸入Email" required="required">
    </div>
    <label for="password" class="form-label">密碼</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="請輸入密碼" required="required">
    <button class="btn btn-lg btn-warning btn-block mt-3" type="submit">登入</button>
    <hr>
    <p>沒有帳號?</p>
    <a href="/users/register" class="btn btn-lg btn-primary btn-block mt-3">註冊新帳號</a>
  </form>
</div>